# Gradle
/gradlew
/gradlew.bat
/gradle/
/.gradle/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# IDE
/.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build
/java-module/build/
/build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
/python-module/.idea

# Dotnet
/dotnet-module/KfzVersicherung/obj
/dotnet-module/obj
/dotnet-module/KfzVersicherung/bin
/dotnet-module/bin
/dotnet-module/.idea
/dotnet-module/KfzVersicherung.Tests/bin
/dotnet-module/KfzVersicherung.Tests/obj
/dotnet-module/delegationsrechner.sln.DotSettings.user